aiosmtpd==1.4.5
cronsim==2.5
Django==5.0.4
django-compressor==4.4
django-stubs-ext==4.2.7
fido2==1.1.3
oncalendar==1.1
psycopg2==2.9.9
pycurl==7.45.2
pydantic==2.6.4
pyotp==2.9.0
segno==1.6.1
statsd==4.0.1
whitenoise==6.6.0