aiosmtpd==1.4.6
cronsim==2.7
Django==6.0.2
django-compressor==4.6
django-stubs-ext==5.2.9
fido2==2.1.1
oncalendar==1.1
psycopg==3.3.3
pycurl==7.45.7
pydantic==2.12.5
PyJWT[crypto]==2.10.1
pyotp==2.9.0
segno==1.6.6
statsd==4.0.1
whitenoise==6.11.0
