{% extends "base.html" %}
{% load compress static %}

{% block content %}
<h1>Add Credential</h1>

{{ registration_dict|json_script:"registration" }}

<form
    id="add-credential-form"
    data-options="{{ options }}"
    method="post"
    encrypt="multipart/form-data">
    {% csrf_token %}
    <input id="attestationObject" type="hidden" name="attestationObject">
    <input id="clientDataJSON" type="hidden" name="clientDataJSON">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
        <div class="help-block">
            Give this credential a descriptive name. Example: "My primary Yubikey"
        </div>
    </div>

    <input
        id="add-credential-submit"
        class="btn btn-default"
        type="submit"
        name=""
        value="Save Credential" disabled>
</form>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/cbor.js' %}"></script>
<script src="{% static 'js/add_credential.js' %}"></script>
{% endcompress %}
{% endblock %}
