{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            {% if bad_link %}
            <h1>Incorrect Login Link</h1>
            <div class="dialog-body">
                <p>The login link you just used is either incorrect or expired.</p>
                <p>Please use the form below to request a fresh login link:</p>
            </div>
            {% else %}
            <h1>Health Checks</h1>
            <div class="dialog-body">
                <p>
                    Please enter your email address.
                    Next, we'll send you an email with log-in instructions!
                </p>
            </div>
            {% endif %}


            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">@</div>
                        <input
                            type="text"
                            class="form-control"
                            id="id_email"
                            name="email"
                            placeholder="Email">
                    </div>
                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary pull-right">
                        Log In
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}