{% extends "base.html" %}
{% load compress static hc_extras %}

{% block content %}

{{ registration_dict|json_script:"registration" }}
<div class="row">
<form class="col-sm-6 col-sm-offset-3" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-body settings-block">
            <h2>Remove Security Key?</h2>
            <p></p>
            <p>You are about to remove
            the security key <strong>{{ credential.name|default:'unnamed' }}</strong>
            from your two-factor authentication methods. Are you sure?
            </p>
            <div class="text-right">
                <a
                    href="{% url 'hc-profile' %}"
                    class="btn btn-default">Cancel</a>
                <button
                    type="submit"
                    name="remove_credential"
                    class="btn btn-danger">Remove Security Key</button>
            </div>
        </div>
    </div>


</form>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/cbor.js' %}"></script>
<script src="{% static 'js/add_credential.js' %}"></script>
{% endcompress %}
{% endblock %}
