{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="hc-dialog">
            <h1>Set a Password</h1>
            <div class="dialog-body">
                <p>
                    Please pick a password for your healthchecks.io account.
                </p>
            </div>

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">
                            <span class="icon-dots"></span>
                        </div>
                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            placeholder="pick a password">
                    </div>
                </div>

                <div class="clearfix">
                    <button type="submit" class="btn btn-lg btn-primary pull-right">
                        Set Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}