{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}{{ site_name }} Integration for Slack{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Slack</h1>

    <p>If your team uses <a href="https://slack.com/">Slack</a>, you can set
    up {{ site_name }} to post status updates directly to an appropriate
    Slack channel.</p>

    <h2>Setup Guide</h2>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            Log into your Slack account and
            pick an appropriate Slack channel. From the dropdown next to
            channel's name, pick <strong>Add a service integration...</strong>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_slack_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            From the list of available integrations, select
            <strong>Incoming WebHooks</strong>, and click on
            <strong>Add Incoming WebHooks Integration</strong>.
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>Copy the displayed <strong>Webhook URL</strong> and paste it down below.</p>
            <p>Save the integration, and it's done!</p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_slack_2.png' %}">
        </div>
    </div>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.value.css_classes }}">
            <label for="callback-url" class="col-sm-2 control-label">
                Webhook URL
            </label>
            <div class="col-sm-10">
                <input
                    id="callback-url"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder="https://"
                    value="{{ form.value.value|default:"" }}">

                {% if form.value.errors %}
                <div class="help-block">
                    {{ form.value.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
