{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Notification Channels - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>HipChat</h1>

    <p>If your team uses <a href="https://www.hipchat.com/">HipChat</a>,
    you can set up healthchecks.io to post status updates directly to an
    appropriate HipChat room.</p>

    <h2>Setup Guide</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">1</span>
            Log into your HipChat account and
            pick an appropriate room. From the options menu
            select <strong>Integrations...</strong>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">2</span>
            <p>
                From the list of available integrations, select
                <strong>Build Your Own</strong>. It's at the very top.
            </p>
            <p>
                Give it a descriptive name
                and click <strong>Create</strong>.
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_2.png' %}">
        </div>    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">3</span>
            <p>Copy the displayed <strong>URL</strong> and paste it down below.</p>
            <p>Save the integration, and it's done!</p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_3.png' %}">
        </div>
    </div>


    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal" action="{% url 'hc-add-channel' %}">
        {% csrf_token %}
        <input type="hidden" name="kind" value="hipchat" />
        <div class="form-group">
            <label for="callback-url" class="col-sm-2 control-label">Callback URL</label>
            <div class="col-sm-10">
                <input
                    id="callback-url"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>


{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endcompress %}
{% endblock %}
