{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}PagerTree Integration for {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-12">
      <h1>PagerTree</h1>

      <p>If your team uses <a href="https://pagertree.com">PagerTree</a>,
      you can set up {{ site_name }} to create a PagerTree alert when
      a check goes down, and resolve it when a check goes back up.</p>

      <h2>Setup Guide</h2>

      <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                Log into your PagerTree account, navigate to the <a href="https://app.pagertree.com/integrations?direction=asc&limit=10&sort=tiny_id" target="_blank">Integrations page</a>.
                Then click the <strong>New Integration</strong> button and
                select the <strong>Healthchecks</strong> logo.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="marker-wrap">
                <span style="left: 89%; top: 35%;" class="marker"></span>
                <img
                    class="ai-guide-screenshot"
                    alt="Click create integration button"
                    src="{% static 'img/integrations/setup_pagertree_1.png' %}" />
            </div>
        </div>
      </div>

      <div class="row ai-step">
          <div class="col-sm-6">
              <span class="step-no"></span>
              <p>
                  In the New Integration Form, fill out the details with appropriate values. Then click the <strong>Create</strong> button.
              </p>
          </div>
          <div class="col-sm-6">
              <img
                  class="ai-guide-screenshot"
                  alt="Create Healthchecks.io integration with details"
                  src="{% static 'img/integrations/setup_pagertree_2.png' %}">
          </div>
      </div>

      <div class="row ai-step">
          <div class="col-sm-6">
              <span class="step-no"></span>
              <p>
                Copy the <strong>Endpoint URL</strong> and paste it
                in the form below.
                Save the integration, and you are done!
              </p>
          </div>
          <div class="col-sm-6">
            <div class="marker-wrap">
                <span style="left: 48.5%; top: 87%;" class="marker"></span>

                  <img
                      class="ai-guide-screenshot"
                      alt="Copy the Webhook URL"
                      src="{% static 'img/integrations/setup_pagertree_3.png' %}">
            </div>
          </div>
      </div>

      <h2>Integration Settings</h2>

      <form method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group {{ form.value.css_classes }}">
              <label for="post-url" class="col-sm-2 control-label">Endpoint</label>
              <div class="col-sm-10">
                  <input
                      id="post-url"
                      type="text"
                      class="form-control"
                      name="value"
                      placeholder="https://"
                      value="{{ form.value.value|default:"" }}">

                  {% if form.value.errors %}
                  <div class="help-block">
                      {{ form.value.errors|join:"" }}
                  </div>
                  {% endif %}
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Save Integration</button>
              </div>
          </div>
      </form>
  </div>
</div>
{% endblock %}
