{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Add PagerTree - {% site_name %}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>PagerTree</h1>

    <p>If your team uses <a href="https://pagertree.com">PagerTree</a>,
    you can set up {% site_name %} to create a PagerTree incident when
    a check goes down, and resolve it when a check goes back up.</p>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal" action="{% url 'hc-add-pagertree' %}">
        {% csrf_token %}
        <div class="form-group {{ form.value.css_classes }}">
            <label for="post-url" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10">
                <input
                    id="post-url"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder="https://"
                    value="{{ form.value.value|default:"" }}">

                {% if form.value.errors %}
                <div class="help-block">
                    {{ form.value.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
