{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Add WebHook - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>WebHook</h1>

    <p>WebHooks are a simple way to notify an external system when a check
    goes down. healthcheks.io will run a normal HTTP GET call to your
    specified URL.</p>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal" action="{% url 'hc-add-channel' %}">
        {% csrf_token %}
        <input type="hidden" name="kind" value="webhook" />
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="value" placeholder="http://...">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>



</div>
</div>


{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endcompress %}
{% endblock %}