{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}LINE Notify Integration for {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>LINE Notify</h1>

    <div class="jumbotron">
        <p>
            With the <a href="https://notify-bot.line.me/en/">LINE Notify</a>
            integration, {{ site_name }} will send
            a notification to your selected LINE chat when a check
            goes <strong>up</strong> or <strong>down</strong>.
        </p>

        <form method="post" class="text-center">
            {% csrf_token %}
            <a href="{{ authorize_url }}" class="btn btn-lg btn-default">
                <img class="ai-icon" src="{% static 'img/integrations/linenotify.png' %}" alt="LINE Notify" />
                Connect LINE Notify
            </a>
        </form>
    </div>
</div>
</div>
{% endblock %}