{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Splunk On-Call Integration for {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>Splunk On-Call (VictorOps)</h1>

    <p>
    <a href="https://www.splunk.com/en_us/software/splunk-on-call.html">Splunk On-Call</a>
    is a collaboration and incident management platform for on-call DevOps teams.
    You can integrate it with your {{ site_name }} account in a few
    simple steps.</p>

    <h2>Setup Guide</h2>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                Log into your Splunk On-Call account,
                go to <strong>Integrations</strong>,
                and look up the REST integration.
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_victorops_1.png' %}">
        </div>
    </div>
    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no"></span>
            <p>
                Enable the integration, and copy
                the displayed <strong>Service API Endpoint</strong>.
                Paste it in the form below. Be sure to replace
                the <strong>$routing_key</strong> section with the
                actual routing key you intend to use.
            </p>
            <p>
                Save the integration, and it's done!
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_victorops_2.png' %}">
        </div>
    </div>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {{ form.value.css_classes }}">
            <label for="post-url" class="col-sm-2 control-label">Service API Endpoint</label>
            <div class="col-sm-10">
                <input
                    id="post-url"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder="https://"
                    value="{{ form.value.value|default:"" }}">

                {% if form.value.errors %}
                <div class="help-block">
                    {{ form.value.errors|join:"" }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
