{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Notification Channels - {% site_name %}{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>HipChat</h1>

    <div class="jumbotron">
        <p>If your team uses <a href="https://www.hipchat.com/">HipChat</a>,
        you can set up {% site_name %} to post status updates directly to an
        appropriate HipChat room.</p>

        <div class="text-center">
            {% csrf_token %}
            <a href="{{ install_url }}" class="btn btn-lg btn-default">
                <img class="ai-icon" src="{% static 'img/integrations/hipchat.png' %}" alt="HipChat" />
                Connect HipChat
            </a>
        </div>
    </div>

    <h2>Setup Guide</h2>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">1</span>
            <p>
                After
                clicking on "Connect HipChat", you will be
                asked to log into HipChat.
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_1.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">2</span>
            <p>
                Next, HipChat will let you select the chat room
                for receiving {% site_name %} notifications.
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_2.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">3</span>
            <p>
                Next, HipChat will show you the permissions
                requested by {% site_name %}. There's only one permission
                needed: "Send Notification".
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_3.png' %}">
        </div>
    </div>

    <div class="row ai-step">
        <div class="col-sm-6">
            <span class="step-no">4</span>
            <p>
                That is all! You will now be redirected back to
                "Integrations" page on {% site_name %} and see
                the new integration!
            </p>
        </div>
        <div class="col-sm-6">
            <img
                class="ai-guide-screenshot"
                alt="Screenshot"
                src="{% static 'img/integrations/setup_hipchat_4.png' %}">
        </div>
    </div>
</div>
</div>
{% endblock %}
