{% load humanize linemode %}{% linemode %}
{% if status == "down" %}
    {% line %}🔴 The check [{{ check.name_then_code }}]({{ check.cloaked_url }}) is **DOWN**.{% if ping %} Last ping was {{ ping.created|naturaltime }}.{% endif %}{% endline %}
{% else %}
    {% line %}🟢 The check [{{ check.name_then_code }}]({{ check.cloaked_url }}) is now **UP**.{% endline %}
{% endif %}

{% if down_checks is not None %}
    {% line %}{% endline %}
    {% if down_checks %}
        {% if down_checks|length > 10 %}
            {% line %}{{ down_checks|length }} other checks are {% if status == "down" %}also{% else %}still{% endif %} down.{% endline %}
        {% else %}
            {% line %}The following checks are {% if status == "down" %}also{% else %}still{% endif %} down:{% endline %}
            {% for c in down_checks %}
                {% line %}- [{{ c.name_then_code }}]({{ c.cloaked_url }}) (last ping: {{ c.last_ping|naturaltime|default:"never" }}){% endline %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% line %}All the other checks are up.{% endline %}
    {% endif %}
{% endif %}
{% endlinemode %}