{% load humanize %}

<p>Hello,</p>
<p>This is a notification sent by healthchecks.io</p>
<p>The check "{{ check.name }}" has gone {{ check.status }}.</p>
<p>Here is a summary of all your checks:</p>

<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>URL</th>
        <th>Frequency</th>
        <th>Last Ping</th>
    </tr>
    {% for check in checks %}
    <tr>
        <td>
            {% if check.status == "new" %}
                <span class="glyphicon glyphicon-question-sign new"></span>
            {% elif now < check.alert_after %}
                <span class="glyphicon glyphicon-ok-sign up"></span>
            {% else %}
                <span class="glyphicon glyphicon-exclamation-sign down"></span>
            {% endif %}
        </td>
        <td>
            {{ check.name }}
        </td>
        <td class="url-cell">
            <code>{{ check.url }}</code>
        </td>
        <td>
            {% for label, value in timeout_choices %}
                {% if check.timeout == value %}
                    {{ label }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% if check.last_ping %}
                {{ check.last_ping|naturaltime }}
            {% else %}
                Never
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>


