.table.badge-preview th {
    border-top: 0;
    color: var(--text-muted);
    font-weight: normal;
    font-size: 12px;
    padding-top: 32px;
}

#badges-json .fetch-json {
    background: var(--pre-bg);
    padding: 3px;
}

#badges-json, #badges-shields, .badge-preview .with-late {
    display: none;
}