.channels-table {
    margin-top: 36px;
}

.channels-table .channel-row > td {
    line-height: 40px;
}

.channels-table .value-cell {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channels-table .channel-row:hover > td {
    background: #f5f5f5;
}



table.channels-table > tbody > tr > th {
    border-top: 0;
}

.channels-table .channels-add-title {
    border-top: 0;
    padding-top: 20px
}

.channels-table .channels-add-help {
    color: #888;
    border-top: 0;
}

.word-up {
    color: #5cb85c;
    font-weight: bold
}

.word-down {
    color: #d9534f;
    font-weight: bold
}

.preposition, .description {
    color: #888;
}

.channel-unconfirmed {
    font-size: small;
}

.channels-help-hidden {
    display: none;
}

.edit-checks {
    display: inline-block;
    width: 120px;
    padding: 6px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #FFF;
    color: #333;

}

.edit-checks:hover {
    text-decoration: none;
    color: #000;
}

.channel-row:hover .edit-checks {
    border: 1px dotted #AAA;
}

.channel-remove {
    visibility: hidden;
}

.channel-row:hover .channel-remove {
    visibility: visible;
}

.ai-title {
    margin-top: 2em;
}

.add-integration {
    list-style: none;
    padding: 0;
}

.add-integration li {
    position: relative;
    padding: 8px 0;
    border-radius: 4px;
}

.add-integration li:hover {
    background: #eee;
}

.add-integration .icon {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
}

.add-integration h2 {
    font-size: 18px;
    margin-left: 72px;
}

.add-integration p {
    margin-left: 72px;
}

.add-integration a.btn {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -17px;
    width: 139px;
    height: 40px;
    padding: 0;
    line-height: 40px;
}

.btn img.ai-icon {
   height: 1.4em;
   margin-right: 2px;
}

.add-integration h2 {
    margin-top: 0;
}

.setup-guide h2, .integration-settings h2 {
    margin: 0 0 1em 0;
}

.ai-step {
    margin: 2em 0;
}

.ai-step .step-no {
    display: block;
    float: left;
    font-size: 24px;
    width: 48px;
    heigth: 48px;
    background: #7ec1ea;
    border-radius: 32px;
    text-align: center;
    line-height: 48px;
    margin-right: 32px;
    margin-bottom: 32px;
    color: #fff;
    font-weight: 300;
}

.ai-guide-screenshot {
    border: ;
    max-width: 100%;
    border: 6px solid #EEE;
}

.variable-column {
    width: 160px;
}

.add-integration li.link-to-github {
    padding: 16px 0;
}

.link-to-github p {
    margin-bottom: 0;
}

.page-channels .icon-delete {
    font-size: 16px;
}