.channels-table {
    margin-top: 36px;
}


.channel-row.kind-hipchat {
    filter: grayscale(100%);
    opacity: 0.5;
}

.channels-table .channel-row > td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    border-top: 1px solid #f1f1f1;
}

.channels-table .icon-cell {
    width: 40px;
}

.channels-table .icon-cell img {
    margin-left: 16px;
    height: 40px;
}

.channels-table .th-name,
.channels-table .th-checks {
    padding-left: 15px;
}

.channels-table .unnamed {
    font-style: italic;
    color: #999;
}


.channels-table .value-cell {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channels-table .channel-row:hover > td {
    background: #f5f5f5;
}

table.channels-table > tbody > tr > th {
    border-top: 0;
}

.word-up {
    color: #5cb85c;
    font-weight: bold
}

.word-down {
    color: #d9534f;
    font-weight: bold
}

.preposition, .description {
    color: #888;
}

.channel-unconfirmed {
    font-size: small;
}

.channel-disabled {
    font-size: small;
}

.edit-name, .edit-checks {
    padding: 12px 6px;
    border: 1px solid #FFF;
    cursor: pointer;
}

.edit-name .channel-details-mini {
    font-size: 11.7px;
    color: #888;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-details-mini span {
    color: #111;
}

.channel-row:hover .edit-name,
.channel-row:hover .edit-checks {
    border: 1px dotted #AAA;
}

.edit-checks {
    color: #333;
}

.edit-checks:hover {
    text-decoration: none;
    color: #000;
}

.channel-row .actions form {
    display: inline;
}

.channel-row .actions .btn {
    visibility: hidden;
}

.channel-row:hover .actions .btn {
    visibility: visible;
}

.webhook-details td {
    max-width: 300px;

}

.ai-title {
    margin-top: 2em;
}

.add-integration {
    list-style: none;
    padding: 0;
}

.add-integration li {
    position: relative;
    padding: 8px 0;
    border-radius: 4px;
}

.add-integration li:hover {
    background: #eee;
}

.add-integration .icon {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
}

.add-integration h2 {
    font-size: 18px;
    margin-left: 72px;
}

.add-integration p {
    margin-left: 72px;
}

.add-integration a.btn {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -17px;
    width: 139px;
    height: 40px;
    padding: 0;
    line-height: 40px;
}

.btn img.ai-icon {
   height: 1.4em;
   margin-right: 2px;
}

.add-integration h2 {
    margin-top: 0;
}

.setup-guide h2, .integration-settings h2 {
    margin: 0 0 1em 0;
}

.ai-step {
    margin: 2em 0;
}

.ai-step .step-no {
    display: block;
    float: left;
    font-size: 24px;
    width: 48px;
    heigth: 48px;
    background: #7ec1ea;
    border-radius: 32px;
    text-align: center;
    line-height: 48px;
    margin-right: 32px;
    margin-bottom: 32px;
    color: #fff;
    font-weight: 300;
}

.ai-step .marker-wrap {
    position: relative;
    clear: both;
}

.ai-step .marker {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background: #2abb66;
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    animation: marker-ripple 1.2s ease-out infinite;
}

@keyframes marker-ripple {
  0%, 35% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.ai-guide-screenshot {
    max-width: 100%;
    border: 6px solid #EEE;
}

.variable-column {
    width: 160px;
}

.add-integration li.link-to-github {
    padding: 16px 0;
}

.link-to-github p {
    margin-bottom: 0;
}

.page-channels .icon-delete {
    font-size: 16px;
}

.channel-details table {
    width: 100%;
}

.channel-details td, .channel-details th {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.channel-details tr:last-child td, .channel-details tr:last-child th {
    border-bottom: 0;
}


.channel-details .missing {
    color: #999;
    font-style: italic;
}

.channel-modal .modal-body {
    padding: 15px 40px;
}


/* Add Webhook */

.webhook-header input.form-control {
    width: 300px;
}

.webhook-header {
    margin-bottom: 4px;
}
