#my-checks-tags div {
    margin-bottom: 4px;
}

#my-checks-tags .up {
    color: var(--tag-up-color);
    background-color: var(--tag-up-bg);
    border-color: var(--tag-up-border);
}

#my-checks-tags .grace {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#my-checks-tags .down {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#my-checks-tags .checked {
    box-shadow: 0 0 3px var(--tag-checked-shadow);
    background: var(--tag-checked-bg);
    color: var(--tag-checked-color);
    border-color: var(--tag-checked-border);
}

#search {
    padding-left: 15px;
    border-radius: 16px;
}

.label-tag {
    background-color: var(--tag-bg);
    color: var(--tag-color);
    font-weight: 500;
}

.label-confirmation {
    background-color: #22bc66;
    color: #fff;
    font-weight: 500;
}

#show-usage-modal  .modal-dialog {
     width: 1100px;
}

#usage-examples-title {
    margin-bottom: 25px;
}

#show-usage-modal .modal-body {
    padding: 0;
}

#show-usage-modal pre,
#show-usage-modal #email {
    margin: 0;
    padding: 15px;
}

#show-usage-modal .highlight:nth-child(n+2) {
    border-top: 1px solid var(--border-color);
}

.add-check-note {
    color: var(--text-muted);
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

#update-name-modal .modal-body {
    padding: 15px 40px;
}

#my-checks-bottom-actions {
    margin-bottom: 20px;
}

/* Add Check Modal */

#add-check-modal .modal-body {
    padding: 15px 40px;
}

#add-check-kind label {
    display: inline-block;
    margin-right: 20px;
}

.create-simple-extra,
.create-cron-extra,
.create-oncalendar-extra {
    display: none;
}

.simple .create-simple-extra,
.cron .create-cron-extra,
.oncalendar .create-oncalendar-extra {
    display: block;
}

#add-check-period,
#add-check-grace,
#add-check-period-unit,
#add-check-grace-unit {
    width: 100px;
    display: inline-block;
}

/* Over-limit notice */
#my-checks-limit-notice {
    border: 5px solid #ffdc3e;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 20px;
}

#my-checks-limit-notice table  {
    margin-top: 20px;
    width: auto;
    font-size: small;
}

#my-checks-limit-notice tr:first-child th,
#my-checks-limit-notice tr:first-child td {
    border-color: transparent;
}


@media (min-width: 992px) {
    #update-timeout-modal .modal-dialog, #ping-details-modal .modal-dialog  {
        width: 850px;
    }
    #update-name-modal .modal-dialog  {
        width: 650px;
    }
    #add-check-modal .modal-dialog  {
        width: 650px;
    }
}
