#my-checks-tags div {
    margin-bottom: 4px;
}

#my-checks-tags .up {
    color: var(--tag-up-color);
    background-color: var(--tag-up-bg);
    border-color: var(--tag-up-border);
}

#my-checks-tags .grace {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

#my-checks-tags .down {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#my-checks-tags .checked {
    box-shadow: 0 0 3px var(--tag-checked-shadow);
    background: var(--tag-checked-bg);
    color: var(--tag-checked-color);
    border-color: var(--tag-checked-border);
}

#search {
    padding-left: 15px;
    border-radius: 16px;
}

#update-timeout-form .modal-body {
    padding-top: 35px;
}

.interval-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.interval-controls label {
    font-weight: normal;
    padding-right: 16px;
    width: 120px;
    text-align: right;
}

.interval-controls input {
    width: 100px;
    text-align: center;
}

.interval-controls select.form-control {
    width: auto;
    padding-left: 8px;
    margin-left: 8px;
}

.kind-simple, .kind-cron {
    width: 70px;
}

#update-cron-form .modal-body {
    padding: 40px;
}

#update-cron-form label {
    font-weight: normal;
}

#schedule-hint {
    margin-left: 8px;
    font-size: small;
}

#tz {
    width: 300px;
}

#cron-description {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: var(--text-color);
    padding: 16px 8px 0px 8px;
}

#cron-preview {
    background: var(--pre-bg);
    min-height: 298px;
}

#cron-preview p {
    padding: 8px;
    font-size: small;
}

#cron-preview th {
    border-top: 0;
    font-weight: normal;
    font-size: small;
}

#cron-preview-table {
    margin: 0;
}

#cron-preview-table tr td:nth-child(1) {
    width: 120px;
}

#cron-preview-table tr td:nth-child(2) {
    font-size: small;
}

#cron-preview-table tr td:nth-child(3) {
    font-size: small;
    font-family: monospace;
    text-align: right;
    color: var(--text-muted);
}

#period-slider {
    margin: 20px 50px 90px 50px;
}

#period-slider .noUi-connect {
  background: #22bc66;
}

#grace-slider {
    margin: 20px 50px 110px 50px;
}

#grace-slider .noUi-connect {
  background: #f0ad4e;
}

#period-slider .noUi-value, #grace-slider .noUi-value {
    color: var(--text-muted);
}

.update-timeout-terms {
    color: var(--text-muted);
}

.update-timeout-terms p {
    margin: 0;
}

.update-timeout-terms span {
    font-weight: bold;
}

.label-tag {
    background-color: var(--tag-bg);
    color: var(--tag-color);
    font-weight: 500;
}

.label-confirmation {
    background-color: #22bc66;
    color: #fff;
    font-weight: 500;
}

#show-usage-modal  .modal-dialog {
     width: 1100px;
}

#usage-examples-title {
    margin-bottom: 25px;
}

#show-usage-modal .modal-body {
    padding: 0;
}

#show-usage-modal pre,
#show-usage-modal #email {
    margin: 0;
    padding: 15px;
}

#show-usage-modal .highlight:nth-child(n+2) {
    border-top: 1px solid var(--border-color);
}

.add-check-note {
    color: var(--text-muted);
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

#update-name-modal .modal-body {
    padding: 15px 40px;
}

#my-checks-bottom-actions {
    margin-bottom: 20px;
}

#add-check-modal .modal-body {
    padding: 15px 40px;
}

.simple .create-cron-extra {
    display: none;
}

.cron .create-simple-extra {
    display: none;
}

#add-check-period,
#add-check-grace,
#add-check-period-unit,
#add-check-grace-unit {
    width: 100px;
    display: inline-block;
}

/* Over-limit notice */
#my-checks-limit-notice {
    border: 5px solid #ffdc3e;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 20px;
}

#my-checks-limit-notice table  {
    margin-top: 20px;
    width: auto;
    font-size: small;
}

#my-checks-limit-notice tr:first-child th,
#my-checks-limit-notice tr:first-child td {
    border-color: transparent;
}


@media (min-width: 992px) {
    #update-timeout-modal .modal-dialog, #ping-details-modal .modal-dialog  {
        width: 850px;
    }
    #update-name-modal .modal-dialog  {
        width: 650px;
    }
    #add-check-modal .modal-dialog  {
        width: 650px;
    }
}
