#details-head h1 {
    margin-bottom: 4px;
}

#details-head {
    margin-bottom: 24px;
}

#details-head h1 small {
    font-size: 12px;
}

.details-block .status {
    font-size: 32px;
    width: 40px;
}

.details-block {
    margin-bottom: 36px;
}

.details-block .copy-btn {
    width: 90px;
}

.details-block code {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    background: #f5f5f5;
}

.details-block form {
    display: inline;
}

#details-schedule th {
    padding-top: 4px;
}

#details-schedule td {
    padding: 4px 0 4px 8px;
}

#details-schedule th {
    vertical-align: top;
    font-weight: normal;
    text-align: right;
}

#details-schedule .value {
    font-weight: bold;
}

#details-schedule .subtitle {
    color: #999;
}

#details-integrations th {
    width: 50px;
    text-align: center;
}

#details-integrations .label {
    background: #777777;
}

#details-integrations .on .label {
    background: #22bc66;
}

#details-integrations tr:hover th, #details-integrations tr:hover td {
    cursor: pointer;
    background-color: #f5f5f5;
}


#details-remove-check {
    border-color: #d43f3a;
    color: #d43f3a;
    background: #FFF;
}

#downtimes table {
    width: 350px;
}

#downtimes tr:first-child td, #downtimes tr:first-child th {
    border-top: 0;
}

#downtimes th {
    width: 100px;
    text-align: right;
    font-weight: normal;
    color: #888;
}

.alert.no-events {
    border: #ddd;
    background: #F5F5F5;
    color: #444;
    text-align: center;
    padding: 32px;
}
