.docs-nav {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.docs-nav li a {
    display: block;
    padding-bottom: 10px;
}

.docs-nav li.active > a {
    font-weight: bold;
}


.docs-nav ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;

}

.curl-opts th {
    white-space: nowrap;
    font-family: monospace;
}

.docs-heading {
    margin-top: 40px;
}

h2.rule {
    border-top: 3px solid #eee;
    margin-top: 30px;
    padding-top: 30px;
}

h3.api-section {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}

h3.docs-example {
    margin-top: 40px;
}

.api-path {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 1em;
    background: #f5f5f5;
    color: #333;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
}

a.section {
    color: #000;
    text-decoration: none;
}

a.section:hover  {
    text-decoration: none;
}

.page-docs code {
    padding: 2px 4px;
    font-size: 90%;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 4px;
}

