.docs-nav {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.docs-nav li {
    display: block;
    margin-bottom: 10px;
}

.docs-nav li.nav-header {
    color: #333;
    font-weight: bold;
}

li + li.nav-header {
    margin-top: 20px;
}

.docs-nav li.active > a {
    font-weight: bold;
}

.curl-opts th {
    white-space: nowrap;
    font-family: monospace;
}

h2.rule {
    border-top: 3px solid #eee;
    margin-top: 30px;
    padding-top: 30px;
}

.page-docs code {
    padding: 2px 4px;
    font-size: 90%;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.page-docs pre code {
    padding: 0;
    font-size: 13px;
    background-color: transparent;
    border-radius: 0;
}


.docs-content, .docs-content .table td {
    line-height: 1.8;
}

.docs-content h1 {
    font-size: 24px;
    font-weight: bold;
}

.docs-content h2 {
    margin-top: 30px;
    font-weight: bold;
}

.docs-content h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}

.docs-content ul {
    padding-left: 15px;
}

.docs-content li {
    margin-left: 0;
}

.docs-content img {
    max-width: 66%;
    border: 6px solid #DDD;
}


@media (max-width: 992px) {
    .docs-content img {
        max-width: 100%;
    }
}

.docs-api table {
    width: 100%;
    margin: 8px 0;
}

.docs-api th {
    display: none;
}

.docs-api td {
    padding: 8px;
    border: 1px solid #ddd;
}


.page-docs dl {
    display: grid;
    grid-template-columns: 150px auto;
}

.page-docs dt {
    font-weight: normal;
    font-family: "Lucida Console", Monaco, monospace;
}

.page-docs dt, .page-docs dd {
    border-top: 1px solid #DDD;
    padding: 8px 0;
}

.rule + p code {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
}
