.docs-nav {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.docs-nav li {
    display: block;
    margin-bottom: 10px;
}

.docs-nav li.nav-header {
    color: var(--text-color);
    font-weight: bold;
}

li + li.nav-header {
    margin-top: 20px;
}

.docs-nav li.active > a {
    font-weight: bold;
}

h2.rule {
    border-top: 3px solid var(--border-muted);
    margin-top: 30px;
    padding-top: 30px;
}

.page-docs code {
    background: var(--pre-bg);
    border-radius: 4px;
}

.page-docs pre code {
    padding: 0;
    font-size: 13px;
    background-color: transparent;
    border-radius: 0;
}


.docs-content, .docs-content .table td {
    line-height: 1.8;
}

.docs-content h1 {
    font-size: 24px;
    font-weight: bold;
}

.docs-content h2 {
    margin-top: 30px;
    font-weight: bold;
}

.docs-content h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}

.docs-content ul {
    padding-left: 15px;
}

.docs-content li {
    margin-left: 0;
}

.docs-content img {
    max-width: 66%;
    border: 6px solid var(--border-color);
}


@media (max-width: 992px) {
    .docs-content img {
        max-width: 100%;
    }
}

.docs-api table,
.docs-apiv1 table,
.docs-apiv2 table,
.docs-http_api table {
    width: 100%;
    margin: 8px 0;
}

.docs-api th,
.docs-apiv1 th,
.docs-apiv2 th,
.docs-http_api th {
    display: none;
}

.docs-api td,
.docs-apiv1 td,
.docs-apiv2 td,
.docs-http_api td {
    padding: 8px;
    border: 1px solid var(--border-color);
}

/* Hide the TOC second column on small screens */
@media (max-width: 992px) {
    #api-toc + table td:nth-child(2) {
        display: none;
    }
}


.page-docs dl {
    display: grid;
    grid-template-columns: 150px auto;
}

.page-docs .docs-http_api dl {
    grid-template-columns: 220px auto;
}

@media (max-width: 992px) {
    .page-docs dl,
    .page-docs .docs-http_api dl {
        display: grid;
        grid-template-columns: auto;
    }

    .page-docs dl dd {
        border-top: 0;
    }

    .page-docs dl dd pre {
        white-space: pre-wrap;
    }
}


.page-docs dt {
    font-weight: normal;
    font-family: "Lucida Console", Monaco, monospace;
}

.page-docs dt, .page-docs dd {
    border-top: 1px solid var(--border-color);
    padding: 8px 0;
    line-height: 1.8;
}

.rule + p code {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 4px;
}

.docs-introduction dl {
    grid-template-columns: 48px auto;
}

.docs-introduction dt {
    text-align: center;
}

.docs-content ul.self-hosted-configuration-toc {
    list-style: none;
    font-size: 12px;
    column-width: 270px;
    margin: 0;
    padding: 0;
}

.self-hosted-configuration-toc li {
    margin: 0;
    padding: 0;
}