@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rq3u8q');
  src:  url('../fonts/icomoon.eot?rq3u8q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rq3u8q') format('truetype'),
    url('../fonts/icomoon.woff?rq3u8q') format('woff'),
    url('../fonts/icomoon.svg?rq3u8q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e5c9";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-grace:before {
  content: "\e000";
}
.icon-missing:before {
  content: "\e001";
}
.icon-asc:before {
  content: "\e5ce";
}
.icon-desc:before {
  content: "\e5cf";
}
.icon-dots:before {
  content: "\e5d3";
}
.icon-down:before {
  content: "\e7f7";
}
.icon-paused:before {
  content: "\e7f6";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-mail:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e901";
}
.icon-up:before, .icon-ok:before {
  content: "\e902";
}
.icon-clippy:before {
  content: "\e903";
}