@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?37tb6f');
  src:  url('../fonts/icomoon.eot?37tb6f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?37tb6f') format('truetype'),
    url('../fonts/icomoon.woff?37tb6f') format('woff'),
    url('../fonts/icomoon.svg?37tb6f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spike:before {
  content: "\e919";
  color: #007bff;
}
.icon-zulip:before {
  content: "\e918";
  color: #1e9459;
}
.icon-pd:before {
  content: "\e90b";
  color: #04ac38;
}
.icon-shell:before {
  content: "\e917";
}
.icon-msteams:before {
  content: "\e916";
  color: #4e56be;
}
.icon-opsgenie:before {
  content: "\e910";
  color: #2684ff;
}
.icon-mattermost:before {
  content: "\e907";
  color: #045acc;
}
.icon-pagerteam:before {
  content: "\e914";
  color: #cd2a00;
}
.icon-apprise:before {
  content: "\e915";
  color: #236b6b;
}
.icon-matrix:before {
  content: "\e900";
}
.icon-started:before {
  content: "\e038";
}
.icon-pagertree:before {
  content: "\e90d";
  color: #33ade2;
}
.icon-po:before {
  content: "\e90e";
  color: #249df1;
}
.icon-victorops:before {
  content: "\e90f";
  color: #f9af4a;
}
.icon-email:before {
  content: "\e90a";
  color: #4f5d73;
}
.icon-webhook:before {
  content: "\e908";
  color: #c73a63;
}
.icon-sms:before {
  content: "\e904";
  color: #95c144;
}
.icon-pushbullet:before {
  content: "\e909";
  color: #67bf79;
}
.icon-discord:before {
  content: "\e90c";
  color: #7289da;
}
.icon-hipchat:before {
  content: "\e901";
  color: #0052cc;
}
.icon-slack:before {
  content: "\e905";
  color: #56b68b;
}
.icon-telegram:before {
  content: "\e906";
  color: #2ca5e0;
}
.icon-trello:before {
  content: "\e911";
  color: #0079bf;
}
.icon-whatsapp:before {
  content: "\e902";
  color: #25d366;
}
.icon-clippy:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-up:before, .icon-new:before, .icon-ok:before {
  content: "\e86c";
}
.icon-grace:before {
  content: "\e000";
}
.icon-missing:before {
  content: "\e001";
}
.icon-desc:before {
  content: "\e313";
}
.icon-asc:before {
  content: "\e316";
}
.icon-dots:before {
  content: "\e5d3";
}
.icon-down:before {
  content: "\e7f7";
}
.icon-paused:before {
  content: "\e7f6";
}
.icon-settings:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-timer:before {
  content: "\e425";
}
