@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.woff2?jfejh") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --palette0 {
    font-family: "icomoon";
    base-palette: 0
}
@font-palette-values --palette1 {
    font-family: "icomoon";
    base-palette: 1
}
@font-palette-values --palette2 {
    font-family: "icomoon";
    base-palette: 2
}
@font-palette-values --palette3 {
    font-family: "icomoon";
    base-palette: 3
}
.ic, [class^="ic-"], [class*=" ic-"] {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-palette: --palette0;
    color: currentColor;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
    .ic, [class^="ic-"], [class*=" ic-"] {
        font-palette: --palette0;
        color: currentColor;
    }
}
.palette0 {
    font-palette: --palette0;
    color: currentColor;
}
.palette1 {
    font-palette: --palette1;
    color: currentColor;
}
.palette2 {
    font-palette: --palette2;
    color: currentColor;
}
.palette3 {
    font-palette: --palette3;
    color: currentColor;
}
.ic-asc:before {
    content: "\f027";
}
.ic-clippy:before {
    content: "\f025";
}
.ic-delete:before {
    content: "\f024";
}
.ic-desc:before {
    content: "\f023";
}
.ic-dots:before {
    content: "\f021";
}
.ic-down:before {
    content: "\f020";
}
.ic-grace:before {
    content: "\f01b";
}
.ic-alert:before {
    content: "\f017";
}
.ic-new:before {
    content: "\f029";
}
.ic-paused:before {
    content: "\f012";
}
.ic-settings:before {
    content: "\f00d";
}
.ic-timer:before {
    content: "\f006";
}
.ic-up:before {
    content: "\f004";
}
.ic-apprise:before {
    content: "\f028";
}
.ic-call:before {
    content: "\f026";
}
.ic-discord:before {
    content: "\f022";
}
.ic-email:before {
    content: "\f01f";
}
.ic-github:before {
    content: "\f01e";
}
.ic-googlechat:before {
    content: "\f01d";
}
.ic-gotify:before {
    content: "\f01c";
}
.ic-group:before {
    content: "\f01a";
}
.ic-matrix:before {
    content: "\f019";
}
.ic-mattermost:before {
    content: "\f018";
}
.ic-msteamsw:before {
    content: "\f016";
}
.ic-ntfy:before {
    content: "\f015";
}
.ic-opsgenie:before {
    content: "\f014";
}
.ic-pagertree:before {
    content: "\f013";
}
.ic-pd:before {
    content: "\f011";
}
.ic-po:before {
    content: "\f010";
}
.ic-pushbullet:before {
    content: "\f00f";
}
.ic-rocketchat:before {
    content: "\f00e";
}
.ic-shell:before {
    content: "\f00c";
}
.ic-signal:before {
    content: "\f00b";
}
.ic-slack:before {
    content: "\f00a";
}
.ic-sms:before {
    content: "\f009";
}
.ic-spike:before {
    content: "\f008";
}
.ic-telegram:before {
    content: "\f007";
}
.ic-trello:before {
    content: "\f005";
}
.ic-victorops:before {
    content: "\f003";
}
.ic-webhook:before {
    content: "\f002";
}
.ic-whatsapp:before {
    content: "\f001";
}
.ic-zulip:before {
    content: "\f000";
}