#format-switcher-container:before {
    content: " ";
}

#log {
    visibility: hidden;
    font-size: 13px;
}

#log td {
    position: relative;
    border: 0;
    border-bottom: 1px solid var(--border-muted);
    white-space: nowrap;
}

#log .duration {
    white-space: nowrap;
    float: right;
    padding-left: 20px;
}

#log .label.rid {
    background: var(--tag-bg);
    color: var(--tag-color);
    margin-right: 8px;
}

@media (max-width: 767px) {
    #log .duration {
        display: none;
    }
}

#log td:first-child {
    text-align: right;
}

#log tr.ok {
    cursor: pointer;
}

#log tr.ok:hover td {
    background-color: var(--table-bg-hover);
}

#log tr.ok td:first-child {
    font-family: "Lucida Console", Monaco, monospace;
}

#log tr.ok td:first-child::before {
    content:  "#";
    color: #aaa;
}

#log tr.ok td:nth-child(4) {
    text-align: right;
    width: 1%;
}

#log tr.ok td:nth-child(5) {
    width: 100%;
    max-width: 0;

    overflow: hidden;
    text-overflow: ellipsis;
}

#log tr.ok td:nth-child(5) code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11.7px;
    color: var(--text-muted);
}

#log tr.missing td {
    color: #d9534f;
    background: var(--log-missing-bg);
}

#log tr.missing td:nth-child(4) {
    font-size: 12px;

    width: 100%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#log-slider {
    margin-bottom: 60px;
}

#log-slider .noUi-connect {
    background-color: var(--link-color);
}

#slider-from-formatted,
#slider-to-formatted {
    font-weight: bold;
}