#format-switcher-container:before {
    content: " ";
}

#log {
    visibility: hidden;
    font-size: 13px;
}

#log th {
    border-top: 0;
    border-bottom: 1px solid #E5E5E5;
}

#log td {
    color: #444;
    position: relative;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}

#log .date, #log .time {
    white-space: nowrap;
}

#log .delta {
    white-space: nowrap;
    float: right;
    padding-left: 20px;
}

#log .details {
    width: 100%;
    max-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#log .details span.ua-body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11.7px;
    color: #888;
}

#log tr.ok {
    cursor: pointer;
}

#log tr.ok:hover td {
    background-color: #f5f5f5;
}


#log tr.missing td {
    color: #d9534f;
    background: #fff3f2;
}

#log .n-cell {
    font-family: monospace;
    text-align: right;
}

#log .hash {
    color: #aaa;
}

#log .alert-info {
    font-size: 12px;
}
