#format-switcher-container:before {
    content: " ";
}

#log {
    visibility: hidden;
}

#log th {
    border-top: 0;
    border-bottom: 1px solid #E5E5E5;
}

#log td {
    color: #444;
    position: relative;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}

#log .datetime {
    white-space: nowrap;
}

#log .date, #log .time {
    display: inline-block;
    width: 70px;
}

#log .protocol {
    white-space: nowrap;
    padding-left: 16px;
    padding-right: 16px;
}

#log .ip {
    padding-left: 16px;
    padding-right: 16px;
}

#log td.ua {
    font-family: monospace;
    font-size: 11px;
}

#log .ok {
    color: #5cb85c;
}

#log tr.missing td {
    color: #d9534f;
    background: #fff3f2;
}

#log .n-cell {
    text-align: center;
    font-family: monospace;
}

#log .hash {
    color: #aaa;
}