#checks-table {
    margin-top: 36px;
}

#checks-table .checks-row:hover {
    background-color: #f5f5f5;
}

.my-checks-name.unnamed {
    color: #999;
    font-style: italic;
}

#checks-table .indicator-cell {
    text-align: center;
}

#checks-table th {
    border-top: 0;
}

#checks-table a.default {
    color: #333;
}

#checks-table tr:hover a.default {
    color: #0091EA;
}

#checks-table td {
    vertical-align: middle;
    border-top: 1px solid #f1f1f1;
}

#checks-table .my-checks-name,
#checks-table .integrations,
#checks-table .timeout-grace,
#checks-table .last-ping {
    border: 1px solid #FFF;
    padding: 6px;
}

#checks-table tr:hover .my-checks-name,
#checks-table tr:hover .integrations,
#checks-table tr:hover .timeout-grace,
#checks-table tr:hover .last-ping {
    border: 1px dotted #AAA;
    cursor: pointer;
}

#checks-table > tbody > tr > th.th-name,
#checks-table > tbody > tr > th.th-integrations,
#checks-table > tbody > tr > th.th-period,
#checks-table > tbody > tr > th.th-last-ping {
    padding-left: 15px;
}

#checks-table .integrations span {
    padding: 10px 2px;
    display: inline-block;
    font-size: 20px;
    width: 24px;
}

#checks-table .integrations span.off:before {
    color: #DDD;
}

.timeout-grace .cron-expression {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
}

.checks-subline {
    color: #888;
    white-space: nowrap;
}

.show-log .icon-settings {
    font-size: 16px;
}

button.copy-link {
    opacity: 0;

    display: inline-block;
    width: 50px;

    background: none!important;
    border: none;
    padding: 0!important;
    text-align: left;

    font-family: "Open Sans", Arial, sans-serif;
    color: #0091ea;
    cursor :pointer;
    transition: opacity 0.1s linear;
}

button.copy-link:hover {
    text-decoration: underline;
}




tr:hover .copy-link {
    opacity: 1
}

#checks-table .url-cell,
#checks-table .integrations-cell,
#checks-table .timeout-cell {
    white-space: nowrap;
}

.url-cell .base {
    color: #888;
}

.my-checks-url {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11.7px;
    position: relative;
    line-height: 36px;
    color: #333;
}
