#checks-table {
    margin-top: 36px;
}

#checks-table .checks-row:hover {
    background-color: #f5f5f5;
}


.my-checks-name.unnamed {
    color: #999;
    font-style: italic;
}


table.table tr > th.th-name {
    padding-left: 21px;
}

#checks-table .indicator-cell {
    text-align: center;
}

#checks-table th {
    border-top: 0;
}

#checks-table td {
    vertical-align: middle;
}

#checks-table .my-checks-name {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px;
    display: block;
}

#checks-table tr:hover .my-checks-name {
    border: 1px dotted #AAA;
}

#checks-table > tbody > tr > th.th-period {
    padding-left: 15px;
}

#checks-table .timeout-grace {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px;
    display: block;
}

#checks-table tr:hover .timeout-grace {
    border: 1px dotted #AAA;
}

.checks-subline {
    color: #888;
    white-space: nowrap;
}

.check-menu {
    visibility: hidden;
}

.check-menu .icon-settings {
    font-size: 16px;
}

.dropdown-menu > li > a.check-menu-remove {
    color: #B71C1C;
}

button.copy-link {
    opacity: 0;

    display: inline-block;
    width: 50px;

    background: none!important;
    border: none;
    padding: 0!important;
    text-align: left;

    font-family: "Open Sans", Arial, sans-serif;
    color: #0091ea;
    cursor :pointer;
    transition: opacity 0.1s linear;
}

button.copy-link:hover {
    text-decoration: underline;
}



tr:hover .check-menu {
    visibility: visible;
}

tr:hover .copy-link {
    opacity: 1
}

#checks-table .url-cell {
    white-space: nowrap;
}

.url-cell .base {
    color: #888;
}


.my-checks-url {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11.7px;
    position: relative;
    line-height: 36px;
    color: #333;
}

