@media (min-width: 992px) {
    #update-timeout-modal .modal-dialog, #last-ping-modal .modal-dialog {
        width: 800px;
    }
}

#update-timeout-form .modal-body {
    padding-top: 35px;
}

.update-timeout-info {
    line-height: 22px;
}

.update-timeout-label {
    position: relative;
    right: 3px;
    display: inline-block;
    text-align: right;
    width: 100px;
}

.update-timeout-value {
    font-size: 22px;
    display: inline-block;
    width: 100px;
    text-align: left;
    white-space: nowrap;
}

.kind-simple, .kind-cron {
    width: 70px;
}

#update-cron-form .modal-body {
    padding: 40px;
}

#update-cron-form label {
    font-weight: normal;
}

#schedule-hint {
    margin-left: 8px;
    font-size: small;
}

#tz {
    width: 300px;
}

#cron-preview {
    background: #f8f8f8;
    height: 256px;
}

#cron-preview p {
    padding: 8px;
    font-size: small;
}

#cron-preview th {
    border-top: 0;
    font-weight: normal;
    font-size: small;
}

#cron-preview-table tr td:nth-child(1) {
    width: 120px;
}

#cron-preview-table tr td:nth-child(2) {
    font-size: small;
}

#cron-preview-table tr td:nth-child(3) {
    font-size: small;
    font-family: monospace;
    text-align: right;
    color: #888;
}

#period-slider {
    margin: 20px 50px 80px 50px;
}

#period-slider.noUi-connect {
  background: #22bc66;
}

#grace-slider {
    margin: 20px 50px 110px 50px;
}

#grace-slider.noUi-connect {
  background: #f0ad4e;
}

#period-slider .noUi-value, #grace-slider .noUi-value {
    width: 60px;
    margin-left: -30px;
}

.update-timeout-terms {
    color: #999;
}

.update-timeout-terms p {
    margin: 0;
}

.update-timeout-terms span {
    font-weight: bold;
}

.label-tag {
    background-color: #eee;
    color: #555;
    font-style: normal;
    font-weight: 500;
}

.label-confirmation {
    background-color: #22bc66;
    color: #fff;
    font-style: normal;
    font-weight: 500;
}

#show-usage-modal  .modal-dialog {
     width: 1100px;
}

#show-usage-modal .modal-body {
    padding: 0;
}

#show-usage-modal pre {
    margin: 0;
    padding: 15px;
}

#show-usage-modal .highlight:nth-child(n+2) {
    border-top: 1px solid #ddd;
}

