#ping-details-body .modal-body {
    padding: 40px;
}

#ping-details-body h3 {
    font-size: 18px;
    margin: 0 0 24px 0;
}

#ping-details-body .ua {
    font-size: 11px;
    font-family: monospace;
}

#ping-details-body p strong {
    display: block;
}

#ping-details-body h4 {
    margin-top: 24px;
}

#ping-details-body pre {
    padding: 16px;
    margin: 0;
    max-height: 500px;
    line-height: 1em;
}

#email-body-html iframe {
    border: 0;
    width: 100%;
    height: 500px;
    background: #f5f5f5;
}
