#pricing-tagline {
    font-weight: bold;
    margin: 20px 0;
    font-size: 28px;
}

#subscription-status form {
    display: inline-block;
}

.panel.plan h1 {
    font-size: 24px;
    font-weight: bold;

    display: inline-block;
    line-height: 0.9;
    text-shadow: 0px 1px white, -1px 1px white, 1px 1px white, -1px 0px white;
}

.hobbyist h1 {
    color: #0a220c;
    border-bottom: 3px solid #A5D6A7;
}

.supporter h1 {
    color: #1d190f;
    border-bottom: 3px solid #FFE082;
}

.business h1 {
    color: #141c22;
    border-bottom: 3px solid #90CAF9;
}

.business-plus h1 {
    color: #221f1e;
    border-bottom: 3px solid #BCAAA4;
}

.mo {
    font-size: 16px;
}

.plan .btn  {
    font-weight: bold;
    color: #1ea65a;
    border-color: #1ea65a;
    background: #FFF;
    transition: all 0.2s ease;

    border-radius: 5px;
    padding: 8px 20px;
}

.plan .btn:hover {
    color: #fff;
    background: #22bc66;
    border-color: #22bc66;
}

.plan .list-group-item {
    padding: 10px 8px;
}

.plan .list-group-item:last-child {
    border-bottom: 0;

}

#payment-method-modal .modal-header {
    border-bottom: 0;
}

#payment-method-modal .modal-footer {
    border-top: 0;
}

.error-message {
    font-family: monospace;
}

#faq {
    margin: 40px 0;
}

#faq h2 {
    font-size: 14px;
    font-weight: bold;
}


#period-controls {
    text-align: center;
    padding: 24px;
}

#period-controls .btn {
    width: 100px;
}

#plans .panel-footer {
    background: transparent;
}

#annual-note {
    margin: 10px 0;
    color: #AAA;
}

.page-pricing span[data-help] {
    border-bottom: 1px dashed #888;
    cursor: help;
}

.page-pricing .tooltip-inner {
    text-align: left;
}
