.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
    font-size: 40px;
    color: #777777;
    padding: 20px;
    margin: 0px;
    background-color: #f0f0f0;
}

#subscription-status form {
    display: inline-block;
}

#payment-method-modal .modal-header {
    border-bottom: 0;
}

#payment-method-modal .modal-footer {
    border-top: 0;
}

.error-message {
    font-family: monospace;
}

#faq {
    margin: 40px 0;
}

#faq h2 {
    font-size: 14px;
    font-weight: bold;
}

.panel-pricing .free {
}

.mo {
    font-size: 18px;
    color: #888;
}