.panel-success .panel-footer {
    background: #dff0d8;
    color: #3c763d;
    font-size: small;
    text-align: center;
    border-top: 0;
    padding: 6px 15px;
}

.panel-info .panel-footer {
    background: #d9edf7;
    color: #31708f;
    font-size: small;
    text-align: center;
    border-top: 0;
    padding: 8px 15px;
}

span.loading {
    color: #888;
    font-style: italic;
}

#billing-address-modal label {
    font-weight: normal;
}

#billing-address-modal .modal-body {
    margin-left: 30px;
    margin-right: 30px;
}

.masked_number {
    padding-left: 8px;
}

.billing-empty {
    color: #888;
}

.at-limit span {
    display: inline-block;
    background-color: #FFD54F;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px 6px;
}

#my-projects th {
    border-top: 0;
}

#my-projects td {
    vertical-align: middle;
}

#my-projects .num-checks {

}

#my-projects .name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

