#project-selector a {
    color: #333;
}

#project-selector a:hover {
    text-decoration: none;
}

#project-selector a:hover .project {
    border-color: #0091EA;
}

#project-selector .project {
    border-color: #ddd;
    padding: 24px 24px 24px 64px;
    position: relative;
}

#project-selector .project h4 {
    font-weight: bold;
    margin-top: 0;
}

#project-selector .project.selected {
    border-color: #0091EA;
}

#project-selector .project .status {
    position: absolute;
    left: 24px;
}