#project-selector a {
    color: #333;
}

#project-selector a:hover {
    text-decoration: none;
}

#project-selector a:hover .project {
    border-color: #0091EA;
}

#project-selector .project {
    border-color: #ddd;
    padding: 24px;
    position: relative;
}

#project-selector .project.selected {
    border-color: #0091EA;
}

#project-selector .project.selected .marker {
    display: block;
    position: absolute;
    top: 0;
    font-size: 10px;
    padding: 2px 8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    background: #0091EA;
    text-transform: uppercase;
}
