/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
}

.form-horizontal .radio-container, .form-horizontal .checkbox-container {
  margin-top: 7px;
  margin-left: 0;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--input-border);
}

/* On mouse-over, tint the border */
.radiomark:hover {
    border-color: #5db4ea;
}

.radio-container input:focus ~ .radiomark {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 4px rgba(102, 175, 233, 0.2);
}


/* When the radio button is checked, add a colored background */
.radio-container input:checked ~ .radiomark {
    border-color: #0091EA;
    background-color: #0091EA;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radiomark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}