html, body {
    background: #EEE;
}

.glyphicon.up, .glyphicon.new, .glyphicon.down {
    font-size: 22px;
}

.glyphicon.up {
    color: #5cb85c;
}

.glyphicon.new {
    color: #AAA;
}

.glyphicon.down {
    color: #d9534f;
}

#login_dialog {
    background: #FFF;
    padding: 2em;
    margin-top: 100px;
}

#login_dialog h1 {
    margin: 0;
}

/* Checks */

table.table tr > th.th-name {
    padding-left: 21px;
}

.setup-link {
    opacity: 0;
}

.indicator-cell {
    vertical-align: middle;
}
table.table tr.checks-row > td {
    vertical-align: middle;
}

.checks-row:hover .setup-link {
    opacity: 1;
}

.name-edit.inactive .input-name {
    border: 1px solid rgba(0, 0, 0, 0);
    background: none;
    box-shadow: none;
}

.name-edit.inactive button {
    opacity: 0;
}

.name-edit button {
    opacity: 1;
}

