html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    color: #AAA;
    text-align: center;
}

.page-welcome .navbar {
    margin-bottom: 0;
}

.navbar-nav {
    text-transform: uppercase;
    font-size: small;
}

.navbar-text {
    font-size: small;
}

.index-bleed {
    background: #e5ece5;
    padding-bottom: 2em;
}

#pitch {
    text-align: center;
    padding: 72px 0;
    margin: 0;
}

#pitch-subtitle {
    margin-top: 0;
    text-align: center;
}

#pitch-url {
    text-align: center;
    font-family: monospace;
    padding-bottom: 72px;
}

.nav-tabs {
    margin-bottom: 0;
}

.page-welcome .highlight pre {
    background: #FFF;
    border-top: 0;
    border-radius: 0;
    border-color: #dddddd;
}

#welcome-status, #get-started {
    margin-top: 4em;
}

#welcome-status th {
    border-top: 0;
}

.welcome-browser-controls {
    text-align: right;
}

.glyphicon.up, .glyphicon.new, .glyphicon.grace, .glyphicon.down {
    font-size: 22px;
}

.glyphicon.up {
    color: #5cb85c;
}

.glyphicon.new {
    color: #AAA;
}

.glyphicon.grace {
    color: #f0ad4e;
}

.glyphicon.down {
    color: #d9534f;
}

#login_dialog {
    background: #FFF;
    padding: 2em;
    margin-top: 100px;
}

#login_dialog h1 {
    margin: 0;
}

/* Checks */

table.table tr > th.th-name {
    padding-left: 21px;
}

#checks-table .indicator-cell {
    text-align: center;
}

#checks-table th {
    border-top: 0;
}

#checks-table td {
    vertical-align: middle;
}

.my-checks-name {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px;
    display: block;
}

#checks-table tr:hover .my-checks-name {
    border: 1px dotted #AAA;
}

.my-checks-name.unnamed {
    color: #999;
    font-style: italic;
}

.url-cell {
    font-size: small;
    position: relative;
}

td.inactive .popover {
    visibility: hidden;
}

.popover.timeout-dialog.bottom {
    display: block;
    position: absolute;
    top: auto;
    left: auto;
    margin-top: 57px;
    margin-left: -77px;
}

#checks-table > tbody > tr > th.th-period {
    padding-left: 15px;
}

.timeout_grace {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px;
    display: block;
}

#checks-table tr:hover .timeout_grace {
    border: 1px dotted #AAA;
}

.checks-subline {
    color: #888;
}

.check-menu {
    visibility: hidden;
}

tr:hover .check-menu {
    visibility: visible;
}


#update-timeout-modal .modal-body {
    padding-top: 40px;
}

.update-timeout-info {
    line-height: 22px;
}

.update-timeout-label {
    position: relative;
    right: 3px;
    display: inline-block;
    text-align: right;
    width: 100px;
}

.update-timeout-value {
    font-size: 22px;
    display: inline-block;
    width: 100px;
    text-align: left;
    white-space: nowrap;

}

#period-slider {
    margin: 20px 50px 80px 50px;
}

#period-slider.noUi-connect {
  background: #5cb85c;
}

#grace-slider {
    margin: 20px 50px 110px 50px;
}

#grace-slider.noUi-connect {
  background: #f0ad4e;
}

#period-slider .noUi-value, #grace-slider .noUi-value {
    width: 60px;
    margin-left: -30px;
}

.update-timeout-terms {
    color: #999;
}

.update-timeout-terms p {
    margin: 0;
}


.update-timeout-terms span {
    font-weight: bold;
}

/* Log */

.log-table .remote-addr, .log-table .ua {
    font-family: monospace;
}