html, body {
    background: #EEE;
}

#pitch {
    text-align: center;
    padding: 3em;
}

.step-number {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #777;

}

#get-started {
    margin-top: 3em;
}

.glyphicon.up, .glyphicon.new, .glyphicon.down {
    font-size: 22px;
}

.glyphicon.up {
    color: #5cb85c;
}

.glyphicon.new {
    color: #AAA;
}

.glyphicon.down {
    color: #d9534f;
}

#login_dialog {
    background: #FFF;
    padding: 2em;
    margin-top: 100px;
}

#login_dialog h1 {
    margin: 0;
}

/* Checks */

table.table tr > th.th-name {
    padding-left: 21px;
}

.setup-link {
    opacity: 0;
}

#checks-table .indicator-cell {
    text-align: center;
}

#checks-table td {
    vertical-align: middle;
}

.checks-row:hover .setup-link {
    opacity: 1;
}

.name-edit.inactive .input-name {
    border: 1px solid rgba(0, 0, 0, 0);
    background: none;
    box-shadow: none;
}

.name-edit.inactive button {
    opacity: 0;
}

.name-edit button {
    opacity: 1;
}

.url-cell {
    font-size: small;
}

td.inactive .popover {
    visibility: hidden;
}

.popover.timeout-dialog.bottom {
    display: block;
    position: absolute;
    top: auto;
    left: auto;
    margin-top: 32px;
    margin-left: -77px;
}

.timeout:hover {
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
}
