:root {
    color-scheme: light;
    --account-warning-bg:  #ffab0b;
    --alert-no-data-bg: #f5f5f5;
    --alert-no-data-border: #ddd;
    --alert-no-data-color: #444;
    --alert-success-bg: #dff0d8;
    --alert-success-border: #d6e9c6;
    --alert-success-color: #3c763d;
    --body-bg: #FFF;
    --border-color: #ddd;
    --border-muted:  #eee;
    --breadcrumb-active-color: #777;
    --breadcrumb-bg: #f5f5f5;
    --btn-active-bg: #e6e6e6;
    --btn-active-border: #adadad;
    --btn-active-color: #333;
    --btn-default-bg: #fff;
    --btn-default-border: #ccc;
    --btn-default-color: #333;
    --btn-remove-bg: #fff;
    --btn-remove-color: #d43f3a;
    --btn-remove-hover: #ffebea;
    --channel-off-color: #ddd;
    --channel-off-inside-color: #FFF;
    --cheatsheet-example-bg: #f5f5f5;
    --cheatsheet-dotted-color: #ccc;
    --close-color: #000;
    --debug-warning-bg:  #eee;
    --dropdown-bg: #fff;
    --dropdown-link-hover-bg: #f5f5f5;
    --get-started-bg: #f2f5f2;
    --input-bg-disabled: #eeeeee;
    --input-border: #ccc;
    --input-color:  #555;
    --input-group-addon-bg: #eeeeee;
    --jumbotron-bg:  #eee;
    --label-ign-bg: #e0e0e0;
    --label-ign-color: #333;
    --label-start-color: #117a3f;
    --link-color: #0091EA;
    --link-hover-color: #00629e;
    --log-flip-bg: #eee;
    --modal-content-bg: #fff;
    --nav-link-hover-bg: #eee;
    --panel-bg: #fff;
    --panel-default-heading-bg: #f5f5f5;
    --panel-success-bg: #dff0d8;
    --plan-business-border:  #90CAF9;
    --plan-business-color: #141c22;
    --plan-business-plus-border:  #BCAAA4;
    --plan-business-plus-color: #221f1e;
    --plan-hobbyist-border:  #A5D6A7;
    --plan-hobbyist-color: #0a220c;
    --plan-supporter-border:  #FFE082;
    --plan-supporter-color: #1d190f;
    --pre-bg: #f5f5f5;
    --selectize-tag-bg: #efefef;
    --small-text-color: #111;
    --state-info-bg: #d9edf7;
    --state-info-border: #bce8f1;
    --state-info-color: #31708f;
    --status-new-color: #ccc;
    --table-bg-hover: #f5f5f5;
    --tag-bg: #eee;
    --tag-checked-bg: #333;
    --tag-checked-border: #000;
    --tag-checked-color: #eee;
    --tag-checked-shadow: #ddd;
    --tag-color: #555;
    --tag-up-bg: #fff;
    --tag-up-border: #ccc;
    --tag-up-color: #333;
    --text-color: #333;
    --text-muted:  #767676;
    --text-success: #3c763d;
    --text-danger: #a94442;
    --log-new-row-bg: #d9edf7;
    --log-new-row-border: #bce8f1;
}


body.dark {
    color-scheme: dark;
    --account-warning-bg: #ffab0b;
    --alert-no-data-bg: #29292c;
    --alert-no-data-border: #303033;
    --alert-no-data-color: #878790;
    --alert-success-bg: #0f2c1c;
    --alert-success-border: #2b4939;
    --alert-success-color: #ebf5ef;
    --body-bg: hsl(240, 6%, 10%);
    --border-color: hsl(240, 3%, 22%);
    --border-muted: hsl(240, 3%, 22%);
    --breadcrumb-active-color: hsl(240, 3%, 60%);
    --breadcrumb-bg: hsl(240, 6%, 16%);
    --btn-active-bg: #6f6f7f;
    --btn-active-border: #818191;
    --btn-active-color: hsl(240, 3%, 98%);
    --btn-default-bg: #383840;
    --btn-default-border: transparent;
    --btn-default-color: hsl(240, 3%, 88%);
    --btn-remove-bg: transparent;
    --btn-remove-color: #ff4c46;
    --btn-remove-hover: rgba(255, 76, 70, 0.15);;
    --channel-off-color: hsl(240, 6.7%, 23.5%);
    --channel-off-inside-color: hsl(240, 3.7%, 43.5%);
    --cheatsheet-example-bg: #383840;
    --cheatsheet-dotted-color: #6f6f7f;
    --close-color: #fff;
    --debug-warning-bg: #60002d;
    --dropdown-bg: hsl(240, 6%, 16%);
    --dropdown-link-hover-bg: #6f6f7f;
    --get-started-bg: #2c2e2c;
    --input-bg-disabled: #29292c;
    --input-border:  #464649;
    --input-color:  hsl(240, 3.3%, 88.2%);
    --input-group-addon-bg: #29292c;
    --jumbotron-bg: #1f1f22;
    --label-ign-bg: #383840;
    --label-ign-color: #e0e0e2;
    --label-start-color: #e0e0e2;
    --link-color: hsl(202.8, 100%, 55%);
    --link-hover-color: hsl(202.8, 100%, 65%);
    --log-flip-bg: #383840;
    --modal-content-bg: #1f1f22;
    --nav-link-hover-bg: #383840;
    --panel-bg: hsl(240, 6%, 16%);
    --panel-default-heading-bg: #383840;
    --panel-success-bg: #165b35;
    --plan-business-border:  #90CAF9;
    --plan-business-color: #e8f2f9;
    --plan-business-plus-border:  #BCAAA4;
    --plan-business-plus-color: #fff5f2;
    --plan-hobbyist-border:  #A5D6A7;
    --plan-hobbyist-color: #e3ffe4;
    --plan-supporter-border:  #FFE082;
    --plan-supporter-color: #fff0c4;
    --pre-bg: #29292c;
    --selectize-tag-bg: #6f6f7f;
    --small-text-color: #f0f0f2;
    --state-info-bg: #123051;
    --state-info-border: #163c64;
    --state-info-color: #e0e2f5;
    --status-new-color: hsl(240, 2%, 40%);
    --table-bg-hover: #25252a;
    --tag-bg: #303033;
    --tag-checked-bg: #fff;
    --tag-checked-border: #ccc;
    --tag-checked-color: #333;
    --tag-checked-shadow: #000;
    --tag-color: #e0e0e2;
    --tag-up-bg: #25252a;
    --tag-up-border: #303033;
    --tag-up-color: #e0e0e2;
    --text-color: hsl(240, 3.3%, 88.2%);
    --text-muted: hsl(240, 3%, 55%);
    --text-success: #22bc66;
    --text-danger: #d9534f;
    --log-new-row-bg: #123051;
    --log-new-row-border: #163c64;
}
