.page-welcome .navbar {
    margin-bottom: 0;
}

.index-bleed {
    background: #FFF;
    padding-bottom: 2em;
}

.get-started-bleed {
    background: #e5ece5;
    padding: 3em 0;
}

.footer-jumbo-bleed {
    background: #eee;
}


#pitch {
    text-align: center;
    padding: 100px 0;
    margin: 0;
    font-size: 28px;
}

#pitch-subtitle {
    margin-top: 0;
    text-align: center;
}

#pitch-url {
    text-align: center;
    font-family: monospace;
    margin: 10px auto;
}

#pitch-url-input {
    text-align: center;
    background: #FFF;
    border: 0;
    box-shadow: none;
    cursor: text;
}

#pitch-text {
    margin: 0 auto 72px auto;
}

.nav-tabs {
    margin-bottom: 0;
}

#get-started h1 {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.tour-title {
    margin: 50px 0;
}


.tour-section {
    margin-bottom: 80px;
}

#welcome-integrations h1 {
    text-align: center;
    margin-bottom: 20px;
}

#welcome-integrations .integration {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

#welcome-integrations img {
    width: 48px;
    height: 48px;
}

#welcome-integrations h3 {
    font-size: 18px;
    margin-bottom: 0;
}

#welcome-integrations h3 small {
    font-size: 12px;
}

.use-cases li {
    line-height: 200%;
}

.page-welcome .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
}

.tab-pane p {
    padding: 15px;
    margin: 0;
}

.page-welcome .highlight:nth-child(n+2) {
    border-top: 1px solid #ddd;
}

.page-welcome .tab-pane pre {
    margin-bottom: 0;
    background: transparent;
    padding: 15px;
}

.tab-pane.tab-pane-email {
  border: none;
}

#signup-modal .modal-header {
    border-bottom: 0;
}

#signup-modal .modal-body {
    padding: 0 50px 50px 50px;
}

#signup-modal h1 {
    text-align: center;
    margin: 0 0 50px 0;
}

#signup-modal #link-instruction {
    text-align: center;
}

#signup-result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    display: none;
}

#footer-cta p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
