{% if transactions %}
<table class="table">
    <tr>
        <th>Date</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for tx in transactions %}
        <tr>
            <td>{{ tx.created_at }}</td>
            <td>
                {% if tx.payment_instrument_type == "paypal_account" %}
                Paypal from {{ tx.paypal.payer_email }}
                {% endif %}

                {% if tx.payment_instrument_type == "credit_card" %}
                {{ tx.credit_card.card_type }} ending in {{ tx.credit_card.last_4 }}
                {% endif %}
            </td>
            <td>
                {% if tx.currency_iso_code == "USD" %}
                    ${{ tx.amount }}
                {% elif tx.currency_iso_code == "EUR" %}
                    €{{ tx.amount }}
                {% else %}
                    {{ tx.currency_iso_code }} {{ tx.amount }}
                {% endif %}
            </td>
            <td><code>{{ tx.status }}</code></td>
            <td>
                <a href="{% url 'hc-invoice-pdf' tx.id %}">PDF Invoice</a>
            </td>
        </tr>
    {% endfor%}
</table>
{% else %}
    <p class="billing-empty">
        No past transactions to display here
    </p>
{% endif %}