{% if transactions %}
<table class="table">
    <tr>
        <th>Date</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for tx in transactions %}
        <tr {% if tx.type == "credit" %}class="text-muted"{% endif %}>
            <td title="{{ tx.created_at }}">{{ tx.created_at|date:"N j, Y" }}</td>
            <td>
                {% if tx.payment_instrument_type == "paypal_account" %}
                Paypal from {{ tx.paypal.payer_email }}
                {% endif %}

                {% if tx.payment_instrument_type == "credit_card" %}
                {{ tx.credit_card.card_type }} ending in {{ tx.credit_card.last_4 }}
                {% endif %}
            </td>
            <td>
                {% if tx.type == "credit" %}
                -{{ tx.amount }} {{ tx.currency_iso_code }}
                {% else %}
                {{ tx.amount }} {{ tx.currency_iso_code }}
                {% endif %}
            </td>
            <td>{{ tx.type|capfirst }}</td>
            <td><code>{{ tx.status }}</code></td>
            <td>
                {% if tx.type == "credit" %}
                {% else %}
                <a href="{% url 'hc-invoice-pdf' tx.id %}">PDF Invoice</a>
                {% endif %}
            </td>
        </tr>
    {% endfor%}
</table>
{% else %}
    <p class="billing-empty">
        No past transactions to display here
    </p>
{% endif %}