{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Pricing - It's Free! - healthchecks.io{% endblock %}

{% block content %}

<form id="checkout" method="post" action="{% url 'hc-create-subscription' %}">
  {% csrf_token %}
  <div id="payment-form"></div>
  <input class="btn" type="submit" value="Set Up Subscription">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
var clientToken = "{{ client_token }}";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>

{% endblock %}