{% extends "base.html" %}
{% load hc_extras %}

{% block title %}Pricing - {% site_name %}{% endblock %}

{% block content %}

<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <p>
                        You are currently viewing project <strong>{{ request.project }}</strong>.
                    </p>
                    <p>
                        To manage billing for this project, please log in as <strong>{{ request.project.owner.email }}</strong>.
                    </p>

                    <br />

                    <p>
                        <a class="btn btn-default" href="{% url 'hc-logout' %}">Log Out</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
