{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About - healthchecks.io{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Who Runs This</h3>
        <p>
            Hello, my name is Pēteris Caune, I live in Riga, Latvia and do programming for living.
            You can contact me <a href="mailto:cuu508@gmail.com">via email</a>.
        </p>
        <p>
            Code is on
            <a href="https://github.com/healthchecks/healthchecks">GitHub</a>.
        </p>

        <h3>Reliability Guarantees</h3>
        <p>
            Health Checks is currently at an
            relatively early stage as you can probably tell.
        </p>
        <p>
            The service is currently run on single $5 Digital Ocean box.
            It can and will have ocassional outages. User data is however
            being backed up to Amazon S3 daily.
        </p>

        <p>
            If all this does not sound very inspiring,
            there are also alternative services:
        </p>

        <h3>Alternative Services</h3>
        <table class="table">
            <tr>
                <td>
                    <a href="https://cronitor.io/">Cronitor.io</a>
                </td>
                <td>
                    <p>One monitor is free.</p>
                    <p>50 monitors is $24.95/mo.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://cronitor.io/">Cronitor.io</a>
                </td>
                <td>
                    <p>One snitch is free.</p>
                    <p>3 snitches is $5/mo.</p>
                    <p>100 snitches is $19/mo.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://github.com/quantopian/coal-mine">Coal Mine</a>
                </td>
                <td>
                    <p>Open Source.</p>
                    <p>No hosted service. No web UI, just API.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://www.pushmon.com/">PushMon</a>
                </td>
                <td>
                    <p>Free during public beta.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://steward.io">steward.io</a>
                </td>
                <td>
                    <p>15 jobs is free.</p>
                    <p>75 jobs is $7/mo.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.cronalarm.com/">CronAlarm</a>
                </td>
                <td>
                    <p>10 jobs is $5/mo.</p>
                    <p>100 jobs is $20/mo.</p>
                </td>
            </tr>


        </table>
    </div>
</div>
{% endblock %}