{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About - healthchecks.io{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Who Runs This</h3>
        <p>
            Hello, my name is Pēteris Caune, I live in Riga, Latvia and do programming for living.
            You can contact me <a href="mailto:cuu508@gmail.com">via email</a>.
        </p>
        <p>
            Code is on
            <a href="https://github.com/healthchecks/healthchecks">GitHub</a>.
        </p>

        <h3>Reliability Guarantees</h3>
        <p>
            Health Checks is currently at a very early stage as you can probably tell.
        </p>
        <p>
            The service is currently run on single $5 Digital Ocean box.
            It can and will have ocassional outages. <!-- User data should be safe however,
            as we are doing regular database backups to Amazon S3. -->
        </p>


        <p>
            If all this does not sound very inspiring,
            there are also alternative services:
        </p>

        <h3>Alternative Services</h3>
        <ul>
            <li><a href="https://cronitor.io/">Cronitor.io</a></li>
            <li><a href="https://deadmanssnitch.com/">Dead Man's Snitch</a></li>
            <li><a href="https://github.com/quantopian/coal-mine">Coal Mine</a></li>
        </ul>

    </div>
</div>
{% endblock %}