{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About - healthchecks.io{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Contact</h3>
        <p>Email: <a href="mailto:contact@healthchecks.io">contact@healthchecks.io</a></p>
        <p>Twitter: <a href="https://twitter.com/healthchecks_io">@healthchecks_io</a></p>
        <p>Mailing address:</p>
        <address>
            <strong>Monkey See Monkey Do SIA</strong><br>
            Gaujas iela 4-2<br>
            Valmiera, LV-4201<br>
            Latvia
        </address>

        <h3>Open Source</h3>
        <p>
            healthchecks.io is an open source project. The code is on
            <a href="https://github.com/healthchecks/healthchecks">GitHub</a>,
            it has BSD license, and is accepting contributions.
        </p>

        <h3>Reliability Guarantees</h3>
        <p>
            The service is currently run on Digital Ocean servers in NYC3.
            It does have daily database backups to Amazon S3.
            The ops team consists of a single person, so multi-hour or
            even multi-day outages are possible!
        </p>
        <p>
            While we can only guarantee a <em>best effort</em> availability,
            in practice the availability has exceeded 99.9% since the service
            publicly launched in July 2015. That is, until 20 August 2016,
            when the service <a href="https://medium.com/@healthchecks/outage-postmortem-20-august-2016-204297b9d3dd#.dahxkssp8">experienced a 24 hour outage</a>.
        </p>


        <p>
            There's also a number of alternative cron monitoring services, with
            different feature sets, different reliability guarantees and
            pricing options. If healthchecks.io doesn't seem like a good fit
            for you, why not check them out:

            <a href="https://cronitor.io/">Cronitor.io</a>,
            <a href="https://deadmanssnitch.com/">Dead Man's Snitch</a>,
            <a href="https://github.com/quantopian/coal-mine">Coal Mine</a>,
            <a href="http://www.pushmon.com/">PushMon</a>,
            <a href="https://steward.io">steward.io</a>,
            <a href="https://www.cronalarm.com/">CronAlarm</a>,
            <a href="https://wdt.io/">Watchdog Timer</a>.
        </p>
    </div>
</div>
{% endblock %}