{% load hc_extras tz %}
{% timezone tz %}
<table id="downtimes" class="table">
    {% for boundary, down_duration_secs, count in downtimes reversed %}
    <tr>
        <th>{{ boundary|date:"N Y"}}</th>
        <td>
            {% if count %}
                {{ count }} downtime{{ count|pluralize }},
                {{ down_duration_secs|hc_approx_duration }} total
            {% elif count is None %}
                –
            {% else %}
                All good!
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endtimezone %}