{% load hc_extras %}
<table class="table">
    {% for boundary, down_timedelta, count in downtimes reversed %}
    <tr>
        <th>{{ boundary|date:"N Y"}}</th>
        <td>
            {% if count %}
                {{ count }} downtime{{ count|pluralize }},
                {{ down_timedelta|hc_approx_duration }} total
            {% elif count is None %}
                –
            {% else %}
                All good!
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>