{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Documentation - Healthchecks{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Summary</h3>
        <p>
        Each check you create in <a href="{% url 'hc-index' %}">My Checks</a>
        page has an unique "ping" URL. Whenever you access this URL,
        the "Last Ping" value of corresponding check is updated.
        </p>
        <p>When a certain amount of time passes since last received ping, the
        check is considered "late", and Health Checks sends an email alert.
        It is all very simple, really.</p>

        <h3>Executing a Ping</h3>
        <p>
            At the end of your batch job, add a bit of code to request
            one of your ping URLs.
        </p>
        <ul>
            <li>HTTP and HTTPS protocols both are fine</li>
            <li>Request method can be GET or POST</li>
            <li>It does not matter what request headers you send</li>
            <li>You can leave request body empty or put anything in it, it's all good</li>
        </ul>

        <p>The response will have status code "200 OK" and response body will be a
        short and simple string "OK".</p>

        <p>
            In bash scripts, you can use <code>wget</code> or <code>curl</code> to run the requests:
        </p>
        <pre>
curl http://healthchecks.io/ping/uuid-goes-here
</pre>

        <h3>When Alerts Are Sent</h3>
        <p>
            Each check has a configurable "Frequency" parameter, with default value of <strong>one day</strong>.
        </p>
        <p>
            When time since last ping exceeds the configured amount, the check is considered late.
            When a check is <strong>1 hour late</strong>, Health Checks sends you an email alert.
        </p>


    </div>
</div>
{% endblock %}