{% extends "front/base_docs.html" %}
{% load compress static hc_extras %}

{% block title %}Third-Party Resources - {% site_name %}{% endblock %}

{% block description %}
    <meta name="description" content="Deployment tools, API wrappers, Plugins and Libraries">
{% endblock %}

{% block docs_content %}
<h1>Third-Party Resources</h1>

<p>A collection of third-party software projects that integrate
   with Healthchecks. Please submit additions and corrections
   <a href="https://github.com/healthchecks/healthchecks/issues">on GitHub</a>.
</p>

<h2>Deployment Tools</h2>

<ul>
    {% include "front/single_resource.html" with url="https://github.com/iphoting/healthchecks/" name="iphoting/healthchecks" desc="Deploy Healthchecks to Heroku" %}
    {% include "front/single_resource.html" with url="https://github.com/haswalt/docker-healthchecks" name="haswalt/docker-healthchecks" desc="Docker image" %}
    {% include "front/single_resource.html" with url="https://github.com/galexrt/docker-healthchecks" name="galexrt/docker-healthchecks" desc="Docker image" %}
    {% include "front/single_resource.html" with url="https://github.com/linuxserver/docker-healthchecks" name="linuxserver/docker-healthchecks" desc="Docker image" %}
    {% include "front/single_resource.html" with url="https://galaxy.ansible.com/coaxial/healthchecks" name="coaxial/healthchecks" desc="Ansible role for deploying Healthchecks" %}
</ul>

<h2>API Wrappers</h2>

<ul>
    {% include "front/single_resource.html" with url="https://github.com/jwulf/healthchecks.io" name="jwulf/healthchecks.io" desc="API wrapper in Javascript. Supports pinging." %}
    {% include "front/single_resource.html" with url="https://github.com/MyPropertyOffice/node-hchk" name="MyPropertyOffice/node-hchk" desc="API wrapper in Javascript. Supports listing, creating, updating, deleting, pausing and pinging checks. Supports listing integrations." %}
    {% include "front/single_resource.html" with url="https://github.com/gyde-tv/checks" name="gyde-tv/checks" desc="API wrapper in Ruby. Supports pinging." %}
    {% include "front/single_resource.html" with url="https://github.com/kristofferahl/go-healthchecksio" name="kristofferahl/go-healthchecksio" desc="API wrapper in Go. Supports listing, creating, updating, deleting, pausing, pinging." %}
    {% include "front/single_resource.html" with url="https://github.com/frozzare/go-healthchecks" name="frozzare/go-healthchecks" desc="API wrapper in Go. Supports pinging and failing." %}
    {% include "front/single_resource.html" with url="https://github.com/healthchecks/hchk" name="healthchecks/hchk" desc="API wrapper & CLI in Python. Supports creating, pinging." %}
    {% include "front/single_resource.html" with url="https://github.com/pforret/crontask" name="crontask.sh" desc="bash wrapper to use in crontab. Supports pinging." %}
</ul>

<h2>Plugins &amp; Integrations</h2>

<ul>
    {% include "front/single_resource.html" with url="https://github.com/kristofferahl/terraform-provider-healthchecksio" name="terraform-provider-healthchecksio" desc="Terraform Provider for Healthchecks.io" %}
    {% include "front/single_resource.html" with url="https://github.com/prgTW/healthchecks-bundle" name="prgTW/healthchecks-bundle" desc="Symfony bundle. Supports listing, creating, pinging, pausing." %}
    {% include "front/single_resource.html" with url="https://github.com/janiscaunecm/Healthchecks_Magento" name="janiscaunecm/Healthchecks_Magento" desc="Magento module for Healthchecks.io" %}
    {% include "front/single_resource.html" with url="https://github.com/binarybucks/restic-tools" name="binarybucks/restic-tools" desc="Wrapper around restic backup, with Healthchecks.io support." %}
</ul>

<h2>Other</h2>

<ul>
    {% include "front/single_resource.html" with url="https://github.com/taylus/HealthTray" name="HealthTray" desc="Watch your healthchecks in Windows system tray" %}
    {% include "front/single_resource.html" with url="https://github.com/healthchecks/dashboard" name="healthchecks/dashboard" desc="A standalone HTML page showing the status of the checks in your account. " %}
</ul>
{% endblock %}