{% extends "base_project.html" %}
{% load humanize static hc_extras %}

{% block title %}Spike.sh Integration for {{ site_name }}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Spike.sh</h1>

        <p>If you are using <a href="https://spike.sh">Spike.sh</a>,
            you can set up {{ site_name }} to create a Spike.sh incident when a check
            goes down, and resolve it when a check goes back up.</p>

        <h2>Setup Guide</h2>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    Log into your Spike.sh account and go to
                    <strong>Integrations › New integration</strong>.
                    Select "Healthchecks" and click "Next".
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Click create integration button"
                    src="{% static 'img/integrations/setup_spike_1.png' %}" />
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    Give the integration a descriptive <strong>name</strong> and select
                    the Spike.sh <strong>service</strong> to add it to.
                </p>
                <p>
                    In the following step, create or select an existing
                    <strong>escalation policy</strong> to associate with the
                    integration.
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Click create integration button"
                    src="{% static 'img/integrations/setup_spike_2.png' %}" />
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    After you have created the integration, click on
                    <strong>Copy Webhook</strong>.

                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Create Healthchecks.io integration with details"
                    src="{% static 'img/integrations/setup_spike_3.png' %}">
            </div>
        </div>

        <div class="row ai-step">
            <div class="col-sm-6">
                <span class="step-no"></span>
                <p>
                    Copy the shown webhook URL and paste it in the form below.
                    Save the integration, and you are done!
                </p>
            </div>
            <div class="col-sm-6">
                <img class="ai-guide-screenshot" alt="Copy the Webhook URL"
                    src="{% static 'img/integrations/setup_spike_4.png' %}">
            </div>
        </div>

        <h2>Integration Settings</h2>

        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {{ form.value.css_classes }}">
                <label for="post-url" class="col-sm-2 control-label">Webhook URL</label>
                <div class="col-sm-10">
                    <input id="post-url" type="text" class="form-control" name="value" placeholder="https://"
                        value="{{ form.value.value|default:"" }}">

                    {% if form.value.errors %}
                    <div class="help-block">
                        {{ form.value.errors|join:"" }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save Integration</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}