{% load hc_extras %}
Hello,

We’re sending this email to notify you that your {% site_name %} account, registered to {{ email }} has been inactive for 1 year or more.  If you no longer wish to keep your {% site_name %} account active then we will make sure that your account is closed and any data associated with your account is permanently deleted from our systems.

If you wish to keep your account, simply log in within 30 days. If you continue to be inactive, your account will be permanently deleted after the 30 day period.

If you have issues logging in, or have any questions, please reach out to us at {{ support_email }}.

This is a one-time message we're sending out to notify you about your account closure.

--
Sincerely,
The {% site_name %} Team
