{% load humanize hc_extras %}

<style>
    th {
        text-align: left;
        padding: 8px;
    }

    td {
        border-top: 1px solid #ddd;
        padding: 8px;
    }

    .badge {
        font-size: 10px;
        color: white;
        padding: 4px;
        font-family: sans;
    }

    .new { background: #AAA; }
    .up { background: #5cb85c; }
    .grace { background: #f0ad4e; }
    .down { background: #d9534f; }


    .unnamed {
        color: #888;
        font-style: italic;
    }

</style>

<p>Hello,</p>
<p>This is a monthly report sent by <a href="https://healthchecks.io">healthchecks.io</a>.</p>

<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Period</th>
        <th>Last Ping</th>
    </tr>
    {% for check in checks %}
    <tr>
        <td>
            {% if check.get_status == "new" %}
                <span class="badge new">NEW</span>
            {% elif check.in_grace_period %}
                <span class="badge grace">LATE</span>
            {% elif check.get_status == "up" %}
                <span class="badge up">UP</span>
            {% elif check.get_status == "down" %}
                <span class="badge down">DOWN</span>
            {% endif %}
        </td>
        <td>
            {% if check.name %}
                {{ check.name }}
            {% else %}
                <span class="unnamed">unnamed</span>
            {% endif %}
            {% if check.tags %}
                <br />
                <small>{{ check.tags }}</small>
            {% endif %}
        </td>
        <td>
            {{ check.timeout|hc_duration }}
        </td>
        <td>
            {% if check.last_ping %}
                {{ check.last_ping|naturaltime }}
            {% else %}
                Never
            {% endif %}
        </td>
        <td>
            <a href="{{ check.log_url }}">View Log</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p><strong>Just one more thing to check:</strong>
Do you have more cron jobs,
not yet on this list, that would benefit from monitoring?
Get the ball rolling by adding one more!</p>

<p>
    --<br />
    Regards,<br />
    healthchecks.io
</p>

<p>
    <a href="{{ unsub_link }}">Unsubscribe from future monthly reports</a>
</p>
