{% extends "emails/base.html" %}
{% load humanize hc_extras %}

{% block content %}

<h1>Hello,</h1>
<p>This is a monthly report sent by <a href="https://healthchecks.io">healthchecks.io</a>.</p>

{% include "emails/summary-html.html" %}

<p><strong>Just one more thing to check:</strong>
Do you have more cron jobs,
not yet on this list, that would benefit from monitoring?
Get the ball rolling by adding one more!</p>

<p>Cheers,<br>The Healthchecks<span>.</span>io Team</p>
{% endblock %}


{% block unsub %}
<br />
<a href="{{ unsub_link }}">Unsubscribe from future monthly reports</a>
{% endblock %}
