{% extends "emails/base.html" %}
{% load hc_extras %}

{% block content %}
Hello,<br />
<p>
We could not deliver a {{ transport }} notification because your {% site_name %}
account has reached its monthly sending limit of
<strong>{{ limit }} sends per month</strong>. The limit resets at the start of
each month.
</p>

{% if url %}
<p>You can increase the monthly sending limit by upgrading your billing plan. <a href="{{ url }}">See Pricing</a>.</p>
{% endif %}

{% endblock %}

{% block content_more %}
Regards,<br />
The {% site_name %} Team
{% endblock %}
