{% load humanize hc_extras linemode %}{% linemode %}
{% regroup checks by project as groups %}

{% for group in groups %}
    {% line %}{% endline %}
    {% line %}{% endline %}
    {% line %}{{ group.grouper|safe }}{% endline %}
    {% line %}{{ group.grouper|underline }}{% endline %}
    {% line %}{% endline %}
    {% line %}Status Name                                     Last Ping{% endline %}
    {% line %}------ ---------------------------------------- ----------------------{% endline %}
    {% for check in group.list|sortchecks:sort %}
        {% with check.get_status as status %}
        {% line %}{% if status == "down" %}{{ status|upper|ljust:"6" }}{% else %}{{ status|ljust:"6" }}{% endif %} {{ check.name_then_code|safe|ljust:"40" }} {% if check.last_ping %}{{ check.last_ping|naturaltime }}{% else %}Never{% endif %}{% endline %}
        {% endwith %}
    {% endfor %}
{% endfor %}
{% endlinemode %}