{% load humanize hc_extras %}
{% regroup checks by user as groups %}
<table style="margin: 0; width: 100%; font-size: 16px;" cellpadding="0" cellspacing="0">
    {% for group in groups %}
    <tr>
        <td colspan="2" style="font-weight: bold; padding: 32px 8px 8px 8px; color: #333;">
            {{ group.grouper.profile|mangle_link }}
        </td>
        <td class="mobile-hide" style="padding: 32px 8px 8px 8px; margin: 0; font-size: 12px; color: #9BA2AB; font-family: Helvetica, Arial, sans-serif;">Last Ping</td>
    </tr>
    {% for check in group.list|sortchecks:sort %}
    <tr>
        <td style="border-top: 1px solid #EDEFF2; padding: 16px 8px;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="{{ check.get_status }}">
                        {% if check.get_status == "grace" %}
                            LATE
                        {% else %}
                            {{ check.get_status|upper }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
        <td style="border-top: 1px solid #EDEFF2; padding: 16px 8px; font-family: Helvetica, Arial, sans-serif;">
            {% if check.name %}
                {% if check.name|length > 20 %}
                    <small>{{ check.name }}</small>
                {% else %}
                    {{ check.name }}
                {% endif %}
            {% else %}
                <span style="color: #74787E; font-style: italic;">unnamed</span>
            {% endif %}
            {% if check.tags %}
                <br />
                <table cellpadding="0" cellspacing="0">
                    <tr>
                    {% for tag in check.tags_list %}
                    <td style="padding-right: 4px">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                            <td style="background: #eee; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 10px; color: #555; padding: 4px; margin: 0; border-radius: 2px;">
                                {{ tag }}
                            </td>
                            </tr>
                        </table>
                    </td>
                    {% endfor %}
                    </tr>
                </table>
            {% endif %}
        </td>
        <td class="mobile-hide" style="border-top: 1px solid #EDEFF2; padding: 16px 8px; font-family: Helvetica, Arial, sans-serif;">
            {% if check.last_ping %}
                {{ check.last_ping|naturaltime }}
            {% else %}
                Never
            {% endif %}
            <br />
            <a class="view-log" href="{{ check.details_url }}">Details…</a>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
<br />