<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Waka Waka</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/checks.js' %}"></script>
</body>
</html>
