{% load hc_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% site_name %} - Monitor Cron Jobs. Get Notified When Your Cron Jobs Fail{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    {% load compress staticfiles %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    {% endcompress %}
</head>
<body class="page-{{ page }}">
    {% block containers %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</body>
</html>
