<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}healthchecks.io - Monitor Cron Jobs. Get Notified When Your Cron Jobs Fail{% endblock %}</title>
    <meta name="description" content="Monitor and Get Notified When Your Cron Jobs Fail. Free alternative to Cronitor and Dead Man's Snitch.">
    <meta name="keywords" content="monitor cron jobs daemon background worker service cronjob monitoring crontab alert notify cronitor deadmanssnitch webhook">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    {% load compress staticfiles %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nouislider.pips.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/docs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/my_checks.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/my_checks_mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/my_checks_desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/syntax.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/channels.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/channel_checks.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/log.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/add_pushover.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" type="text/css">
    {% endcompress %}
</head>
<body class="page-{{ page }}">
    <nav class="navbar navbar-default">
        <div class="container">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                href="{% url 'hc-index' %}"
                title="healthchecks.io - Monitor Cron Jobs">
                {% if request.user.is_authenticated %}
                <img
                    id="logo"
                    height="50"
                    width="59"
                    src="{% static 'img/logo.png'%}"
                    srcset="{% static 'img/logo.png'%} 1x, {% static 'img/logo@2x.png'%} 2x"
                    alt="healthchecks.io">
                {% else %}
                <img
                    id="logo"
                    height="50"
                    width="200"
                    src="{% static 'img/logo-full.png'%}"
                    srcset="{% static 'img/logo-full.png'%} 1x, {% static 'img/logo-full@2x.png'%} 2x"
                    alt="healthchecks.io">
                {% endif %}
            </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="nav-main-sections" class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li {% if page == 'checks' %} class="active" {% endif %}>
                        <a href="{% url 'hc-checks' %}">Checks</a>
                    </li>

                    <li {% if page == 'channels' %} class="active" {% endif %}>
                        <a href="{% url 'hc-channels' %}">Integrations</a>
                    </li>

                {% endif %}


                {% if show_pricing %}
                <li {% if page == 'pricing' %} class="active" {% endif %}>
                    <a href="{% url 'hc-pricing' %}">Pricing</a>
                </li>
                {% endif %}

                <li {% if page == 'docs' %} class="active" {% endif %}>
                    <a href="{% url 'hc-docs' %}">Docs</a>
                </li>

                <li {% if page == 'about' %} class="active" {% endif %}>
                    <a href="{% url 'hc-about' %}">About</a>
                </li>
            </ul>


            {% if request.user.is_authenticated %}
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'hc-login' %}">Log In</a></li>
            </ul>
            {% endif %}

            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="nav-email" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ request.team }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.teams %}
                        <li class="dropdown-header">{{ request.user.profile }}</li>
                        <li>
                            <a href="{% url 'hc-switch-team' request.user.username %}" class="active">Checks</a>
                        </li>
                        {% endif %}

                        <li><a href="{% url 'hc-profile' %}">Account Settings</a></li>
                        <li role="separator" class="divider"></li>

                        {% for team in request.teams %}
                        <li class="dropdown-header">{{ team }}</li>
                        <li>
                            <a href="{% url 'hc-switch-team' team.user.username %}">Checks</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% endfor %}

                        <li><a href="{% url 'hc-logout' %}">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>

        </div>
    </nav>

    {% block containers %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    <footer class="footer">
        <div class="container">
            <ul>
                <li>&copy; 2015-2016 Monkey See Monkey Do SIA</li>
                <li><a href="{% url 'hc-terms' %}">Terms</a></li>
                <li><a href="{% url 'hc-privacy' %}">Privacy</a></li>
                {% if show_pricing %}
                <li><a href="{% url 'hc-pricing' %}">Pricing</a></li>
                {% endif %}
                <li><a href="{% url 'hc-about' %}">Contact</a></li>
            </ul>
        </div>
    </footer>


    {% block scripts %}
    {% compress js %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
    {% endblock %}
</body>
</html>