{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
    <h1>Hello World</h1>

    <h2>Get started here:</h2>
    <form action="{% url 'hc-create-account' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <div class="input-group input-group-lg">
                <div class="input-group-addon">@</div>
                <input
                    type="email"
                    class="form-control"
                    id="id_email"
                    name="email"
                    autocomplete="email"
                    placeholder="Email">
            </div>
        </div>

        <div class="clearfix">
            <button type="submit" class="btn btn-lg btn-primary pull-right">
                Get Started
            </button>
        </div>
    </form>

    </div>
</div>
{% endblock %}