{% load hc_extras humanize linemode %}{% linemode %}
{% if status == "down" %}
    {% line %}🔴 The check <b>{{ check.name_then_code }}</b> is <b>DOWN</b>.{% endline %}
    {% if flip.reason %}
    {% line %}Reason: {{ flip.reason_long }}.{% endline %}
    {% endif %}
{% else %}
    {% line %}🟢 The check <b>{{ check.name_then_code }}</b> is now <b>UP</b>.{% endline %}
    {% if flip.down_duration %}
    {% line %}The downtime lasted {{ flip.down_duration|hc_duration_for_sentence }}.{% endline %}
    {% endif %}
{% endif %}
{% endlinemode %}