.results .field-value {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.field-chopped_value {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

.field-status .e,
.field-status .d {
    font-weight: bold;
}
