.field-users ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #888;
}

.field-users ul li {
    list-style-type: none;
}

.field-checks {
    color: #888;
}

.bar {
    display: inline-block;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: #ddd;
}

.bar span {
    display: block;
    height: 10px;
    background: #79aec8;
}

